
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-2.png" />
    @*<link rel="manifest" href="/site.webmanifest" />*@
    <!--Feather js link-->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/Assets/Css/style.css" rel="stylesheet" />
    <link href="~/Assets/Css/tab.css" rel="stylesheet" />
    <link href="~/Assets/Css/bootstrap-side-modals.css" rel="stylesheet" />
    <link href="~/Assets/Css/custom_tab.css" rel="stylesheet" />
    <link href="~/Assets/Css/table.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .shadow-main {
            box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        }
    </style>

    <title>Unnati</title>
    <!--JS Base Plugins-->
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

    <script src="~/Assets/Scripts/jquery-2.2.4.min.js"></script>

    <script src="~/Assets/Scripts/jquery-confirm.min.js"></script>
    <script src="~/Assets/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Scripts/jquery.lazy.min.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Assets/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Scripts/Gridview-1.0.1.min.js"></script>

    <script src="~/Assets/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Assets/Scripts/Common.min.js"></script>




</head>
