<!Doctype>
<html xmlns="http://www.w3.org/1999/xhtml">
@{Html.RenderPartial("_Head"); }
<body>
    @{ Html.RenderPartial("_MenuBar"); }
    @RenderBody()
    @RenderSection("scripts", required: false)

</body>
@{ Html.RenderPartial("_Scripts");}
</html>
@RenderSection("scripts", required: false)

