
@{
    ViewBag.Title = "add_role";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="layout-body">
    <div class="container-fluid">
        <div class="card-wrap main_panel shadow-main">
            <div class="card-wrap-body cus-body-wrap">
                <div class="all-wrap mt-2 animate__animated animate__zoomIn">
                    <div class="master-selection">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="frm-label">Select Module</label>
                                <select class="form-control" id="DropdownList_Id">
                                    @*<option class="default">Select</option>
                                    <option value="1">Fundraising</option>
                                    <option value="2">Marketing</option>
                                    <option value="3">List</option>
                                    <option value="4">Control Panel</option>
                                    <option value="5">User Management</option>
                                    <option value="6">Admin Area</option>*@
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="frm-label">Description</label>
                                <textarea rows="1" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="default box mt-4">

                    </div>

                    <div id="show_Div">

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

